@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Web.Extensions.Head;
@using IFToolsBriefings.Client.Services

@inject CurrentPage CurrentPage
@inject NavigationManager NavManager


<Title value="@CurrentPage.CurrentPageName"></Title>

<div class="page">
    <div class="notification-box @(CurrentPage.NotificationBoxShown ? "out" : "")">
        <span class="feather icon-info" aria-hidden="true"></span>
        @CurrentPage.NotificationBoxText
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    
    protected override void OnInitialized()
    {
        CurrentPage.OnChange += StateHasChanged;

        ApiService.SetBaseUrl(NavManager.BaseUri);

        base.OnInitialized();
    }

}