@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web.Extensions.Head;
@using IFToolsBriefings.Client.Services

@inject CurrentPage CurrentPage
@inject NavigationManager NavManager

<Title value="@(CurrentPage.CurrentPageName == "" ? "IF-Tools Briefings" : CurrentPage.CurrentPageName + " - IF-Tools Briefings")"></Title>

<div class="page">
    <div class="notification-box @(CurrentPage.NotificationBoxShown ? "out" : "")">
        <span class="feather icon-info" aria-hidden="true"></span>
        @CurrentPage.NotificationBoxText
    </div>
    
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <span class="page-title">@CurrentPage.CurrentPageName</span>
            <a href="/about">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    
    protected override void OnInitialized()
    {
        CurrentPage.OnChange += StateHasChanged;

        ApiService.SetBaseUrl(NavManager.BaseUri);

        base.OnInitialized();
    }

}