@page "/b/{BriefingId}"
@page "/b"

@layout BriefingLayout;

@using IFToolsBriefings.Data.Models
@using IFToolsBriefings.Data
@using Microsoft.AspNetCore.Components.Web.Extensions.Head;

@inject CurrentPage CurrentPage
@inject NavigationManager NavManager

<Title value="@($"#{BriefingId} - Briefings")"></Title>

<style> .content { height: 100vh } </style>

<div class="wrapper">
    <div class="section section-title">
        <img class="logo-image" alt="logo" src="images/logos/logo.png">
    </div>
    <div class="section section-description">
        <h3 class="briefing-title">Briefing #@_actualBriefingId</h3>
        <h3 class="briefing-airports">KSFO - KLAX</h3>
        <span class="briefing-author">@(!string.IsNullOrWhiteSpace(_briefing.Author) ? $"Made by {_briefing.Author}" : "Anonymous")</span>
    </div>
    <div class="section section-main-info">
        <h4 class="section-title">Main Info</h4>
        <div class="main-info">
            <div class="main-info-item">
                <span class="key">Server</span>
                <span class="value">Training</span>
            </div>
            <div class="main-info-item">
                <span class="key">Dep. RWY</span>
                <span class="value">26R</span>
            </div>
            <div class="main-info-item">
                <span class="key">Arr. RWY</span>
                <span class="value">11L</span>
            </div>
            <div class="main-info-item">
                <span class="key">Flight Level</span>
                <span class="value">FL260</span>
            </div>
            <div class="main-info-item">
                <span class="key">Cruise SPD</span>
                <span class="value">M.79</span>
            </div>
            <div class="main-info-item">
                <span class="key">Time Enroute</span>
                <span class="value">02:09</span>
            </div>
            <div class="main-info-item">
                <span class="key">Departure Time</span>
                <span class="value">20:49Z</span>
            </div>
        </div>
    </div>
    <div class="section section-flight-plan">
        <h4 class="section-title">Flight Plan</h4>
        <p class="flight-plan">OTHH ALSE1W OXARI GESIB RK332 GIGAB EGNUX OKTUD DOSTI ANOSU RAMSA RUPEN IBANI BILAN D260O VILOP PUPAM CC104 D348L AGUNO DAC75 54LSO VYMY D344T OROGA AKSAG D339Y NONGT MIBAM SY462 EGEMU ATBUD GUKUM REKEL LUBA1C RPLL</p>
    </div>
    <div class="section section-remarks">
        <h4 class="section-title">Remarks</h4>
        <p class="remarks">None</p>
    </div>
    <div class="section section-map">
        <h4 class="section-title">Flight Map</h4>
        
    </div>
</div>


@code {

    [Parameter]
    public string BriefingId { get; set; }

    private int _actualBriefingId;
    
    private Briefing _briefing;
    
    private readonly DatabaseContext _databaseContext;

    public ViewBriefing()
    {
        _databaseContext = new DatabaseContext();
    }

    
    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(BriefingId) || !int.TryParse(BriefingId, out _actualBriefingId))
        {
            NavManager.NavigateTo("/");
            
            return;
        }

        _briefing = _databaseContext.Briefings.SingleOrDefault(entity => entity.Id == _actualBriefingId);
        if (_briefing == null)
        {
            CurrentPage.ShowNotification("Cannot find that briefing.");
            NavManager.NavigateTo("/");
            
            return;
        }
        
        base.OnInitialized();
    }

}